<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container-sm">
           <form action="/board/register" method="post">
               <div class="input-group mb-3">
                   <span class="input-group-text" id="t">title</span>
                   <input type="text" class="form-control"  name="title" placeholder="title" aria-label="Username" aria-describedby="basic-addon1">
               </div>
               <div class="input-group mb-3">
                   <span class="input-group-text" id="w">writer</span>
                   <input type="text" class="form-control"  name="writer" placeholder="writer" aria-label="Username" aria-describedby="basic-addon1">
               </div>
               <div class="input-group">
                   <span class="input-group-text" id="c">With textarea</span>
                   <textarea class="form-control" aria-label="With textarea" name="content"></textarea>
               </div>
               <button type="submit" class="btn btn-primary">register</button>
           </form>
        </div>
    </th:block>
</th:block>